<!DOCTYPE html>
<html>
<head>
    <title>Ansible Role Demo</title>
</head>
<body>
    <h1>{{ nginx_custom_message }}</h1>
    <p>Managed by Ansible on target host: <strong>{{ inventory_hostname }}</strong></p>
    <p>Target IP: <strong>{{ ansible_default_ipv4.address }}</strong></p>
</body>
</html>
